<launch>

    <arg name = "stereo" />
    <arg name = "decimation"   default = "2" />
    <arg name = "name"         default = "x$(arg decimation)" />
    <arg name = "nodelet_args" value = "standalone image_proc/crop_decimate" />

    <node pkg = "nodelet" type = "nodelet" name = "image_proc_decimate_left_x$(arg decimation)" ns = "$(arg stereo)" output = "screen" respawn = "true" args = "$(arg nodelet_args)" >
        <param name = "decimation_x" value = "$(arg decimation)" />
        <param name = "decimation_y" value = "$(arg decimation)" />
        <remap from = "camera"       to = "left" />
        <remap from = "camera_out"   to = "scaled_$(arg name)/left"/>
    </node>

    <node pkg = "nodelet" type = "nodelet" name = "image_proc_decimate_right_x$(arg decimation)" ns = "$(arg stereo)" output = "screen" respawn = "true" args = "$(arg nodelet_args)" >
        <param name = "decimation_x" value = "$(arg decimation)" />
        <param name = "decimation_y" value = "$(arg decimation)" />
        <remap from = "camera"       to = "right" />
        <remap from = "camera_out"   to = "scaled_$(arg name)/right"/>
    </node>

</launch>